@import url('./__caption/element__caption.css');
@import url('./__description/element__description.css');
@import url('./__like-icon/element__like-icon.css');

.element {
  width: 282px;
  
  background-color: #FFFFFF;
  overflow: hidden;

  margin: 0;
}